@page "/2017"
@using AdventOfCode._2017
@rendermode InteractiveServer

<PageTitle>2017</PageTitle>

<div>
    <h1>Day One</h1>

    <p role="status">Part One Answer: @_dayOnePartOne</p>

    <button class="btn btn-primary" @onclick="SumOfRepeatedNumbersNextDigit">Click me</button>

    <p role="status">Part Two Answer: @_dayOnePartTwo</p>

    <button class="btn btn-primary" @onclick="SumOfRepeatedNumbersExtended">Click me</button>
</div>

<div>
    <h1>Day Two</h1>

    <p role="status">Part One Answer: @_dayTwoPartOne</p>

    <button class="btn btn-primary" @onclick="CalculateChecksum">Click me</button>

    <p role="status">Part Two Answer: @_dayTwoPartTwo</p>

    <button class="btn btn-primary" @onclick="CalculateChecksumExtended">Click me</button>
</div>

<div>
    <h1>Day Three</h1>

    <p role="status">Part One Answer: @_dayThreePartOne</p>

    <button class="btn btn-primary" @onclick="CalculateManhattanDistance">Click me</button>

    <p role="status">Part Two Answer: @_dayThreePartTwo</p>

    <button class="btn btn-primary" @onclick="Part2">Click me</button>
</div>


@code {
    private double _dayOnePartOne = 0;
    private double _dayOnePartTwo = 0;

    private double _dayTwoPartOne = 0;
    private double _dayTwoPartTwo = 0;
    
    private double _dayThreePartOne = 0;
    private double _dayThreePartTwo = 0;
    
    private readonly Solver _solver = new Solver();
    
    private void SumOfRepeatedNumbersNextDigit()
    {
        _dayOnePartOne = _solver.SumOfRepeatedNumbersNextDigit(PuzzleInputs.DayOne);
    }
    
    private void SumOfRepeatedNumbersExtended()
    {
        _dayOnePartTwo = _solver.SumOfRepeatedNumbersExtended(PuzzleInputs.DayOne);
    }
    
    private void CalculateChecksum()
    {
        _dayTwoPartOne = _solver.CalculateChecksum(PuzzleInputs.DayTwo);
    }
    
    private void CalculateChecksumExtended()
    {
        _dayTwoPartTwo = _solver.CalculateChecksumExtended(PuzzleInputs.DayTwo);
    }

    private void CalculateManhattanDistance()
    {
        _dayThreePartOne = _solver.CalculateManhattanDistance();
    }
    
    // TODO: Implement this properly
    private void Part2()
    {
        _dayThreePartTwo = _solver.PartTwoResult();
    }
}